<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>{% block page_title %}Buzzy{% endblock %}</title>
    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="/assets/css/normalize.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@mdi/font@5/css/materialdesignicons.min.css">
    <link rel="stylesheet"
          href="/assets/css/buzzy.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
