{% extends "base.html.twig" %}
{% block body %}
    <div class="bg:blue">
        <nav>
            <a id="page-title">Buzzy</a>
            <div class="flex:to-right"></div>
            <a href="/register"
               class="nav:button">Register</a>
            <a href="/login"
               class="nav:button">Login</a>
        </nav>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
